{% load account %} {% user_display user as user_display %} {% load i18n %} {% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mail__content bg-white p-8 shadow-md">

        <div class="content__header text-center tracking-wide border-b">
          <div class="text-red text-sm font-bold">Investor Application</div>
          <h1 class="text-3xl h-48 flex items-center justify-center">E-mail Confirmation</h1>
        </div>

        <div class="content__body py-8 border-b">
          <p>
            Hey {{ user_display }}, <br><br>It looks like you just signed up for The App, that’s awesome! Can we ask you for email confirmation? Just click the button bellow.
          </p>
          <a href="{{ activate_url }}" class="text-white text-sm tracking-wide bg-red rounded w-full my-8 p-4 ">CONFIRM EMAIL ADDRESS</a>
          <p class="text-sm">
            Keep Rockin'!<br> Your The App team
          </p>
        </div>

        <div class="content__footer mt-8 text-center text-grey-darker">
          <h3 class="text-base sm:text-lg mb-4">Thanks for using The App!</h3>
          <p>www.investors.com.ng</p>
        </div>
      </div>
    </div>
  </div>
{% endautoescape %}
</body>
</html>
